HTML, BODY {
    margin:0;
    padding:0;
    font-family:"lucida grande,tahoma,verdana,arial,sans-serif";
}

.clearfix:after {
        visibility:hidden;
        display:block;
        font-size:0;
        content:" ";
        clear:both;
        height:0;
}

.header {
    font-size:24px;
    color:#3B5998;
}

.step {
    display:none;
    width:700px;
    padding-top:20px;
}

.step .header {
    font-size:18px;
    color:#000;
    padding-bottom:20px;
}

.step .content {
}

#photo_container {
    float:left;
    width:200px;
    height:200px;
    background-color:#DEDEDE;
    border:1px solid #4F4F4F;
}

#caption_entry {
    float:right;
}

.caption_box {
    padding-bottom:10px;
}

#submit {
    padding-top:10px;
}

#photo_prompt {
    position:relative;
    top:-100px;
    height:0;
    font-size:12px;
    color:#4F4F4F;
    text-align:center;
}

#meme_frame {
    width:400px;
    height:400px;
    border:none;
    padding:none;
}

#photos {
    overflow-y:auto;
    height:500px;    
}

.selectImg {
    cursor:pointer;
}

.selectDiv {
    width:200px;
    height:100px;
}

#photo_display {
    width:200px;
    height:200px;
}